* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.cover{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 146, 146, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}

.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 50px;

}
.content h2{
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;

}

.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;

}
.content h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 60px;
}

.content a:hover{
    background-color: #fff;
    color: #fc67a8;

}

.bg-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
body{
    background-color: #f2f2f2;
}

header {
    /*ความสูง*/
    height: 20% ;
    width: 100%;
    /*สีพื้นหลัง*/
    background-color: #FFCFEC ;
    /*สีตัวอักษร*/
    color: #fff ;
    /*บันทัดเดียวกัน*/
    display: flex;
    /*จัดกึ่งกลาง*/
    justify-content:center;
    /*กึ่งกลางแนวตั้ง*/
    align-items: center;
    padding: 10px;

}
.logo img {
    height: 100px ;
    width:auto;
    align-items: center;
    top: 30%;
    position:relative;
    justify-content: baseline;
}


nav {
    /*บันทัดเดียวกัน*/
    display: flex;
    outline: 1px solid #FFCFEC;
    /*ความสูง*/
    height: 80px ;
    /*สีตัวอักษร*/
    color: #fff ;
    /*สีพื้นหลัง*/
    background-color: #FFCFEC ;
    align-items: center;
    position: relative;
    justify-content:space-evenly;
}


.search-from{
    background-color: #fff ;
    align-items: center;
    height: 50% ;
    width: 40%;
    position: relative;
    left: 10%;
    border-radius: 5px;

}
.search-from input {
    border: 1px #ffffff ;
    height: 35px ;
    width: 90%;
    position: relative;
    left: 2%;
}


.search-from img{
    height: 30px ;
    width: 30px;
    
}
.search-from button{
    border: 1px #ffffff;
    background-color: #FFCFEC ;
    height: 35px ;
    width: 40px;
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    
}

.account-menu li{
    display: flex;
}

.account-menu img {
    height: 30px ;
    width: 30;
    position: absolute;
    top: 25px;
    right: 10%;
}

.kun{
    width: 100%;
    height: 30%;
    background-color: #FFCFEC;
    align-content: center;
    position: relative;
}

.kun img {
    width: 15%;
    position: relative;
    left: 42.5%;
}

.menu {
    width: 100%;
    height: 5vh;    
    background-color: #fc67a8;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-around;
}
.menu a{
    font-size: 3vh;
    color: #f2f2f2;
    text-decoration: none;
}